body {
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: white;
    text-align: none;
    
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50% ;
}

.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
}

.cabeçalho{
    background-color: var(--branco);
}
